$navbar-height: 0px;
$body-padding: $navbar-height;
$body-padding-simple: 64px;


// fonts
//$normal-font-family: 'Arial', sans-serif;
//$bold-font-family: 'Arial', sans-serif;
$normal-font-family: 'Montserrat', sans-serif;
$bold-font-family: 'Montserrat', sans-serif;