.header-main {
  height: 60px;
  background: 'black';     
  padding: 0;
  width: "100%"
}
.header-main-navarbar_container {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  width:80px;
  color: $text-gold;
}
.header-main-select {
  width: 80px;
}
.header-main-select .ant-select{
  background-color: black;
  background: black;
}
.header-main-select .ant-select-selector{
  color: black;
}
