.app-main {
    /* Your styles for the .app-main class go here */
    /* For example, you can set the background color */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 249, 158);
    min-height: 100vh;
    /* Add other styles as needed */
  }