.header {
	display: flex;
	align-items: center;
	font-family: adonis-web;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
	margin-top: 100px;
	padding:100px 50px 0px 100px;
	width: 80%;

}

.header a {
	width: 400px;
	text-decoration: none;
	color: black;
	padding-right:50px;

}

.main_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
	line-height: 15px;
	width: 800px;

}

.site-nav,
.user-nav {
	margin: 0;
	padding: 0;
}

.main_nav a:hover,
.main_nav a:focus {
	text-decoration: underline;
}
